﻿@model ExempleMvc.Models.Personne
@{
    ViewBag.Title = "Toto";
    string titi = "abcd";
}

@ViewBag.Message
<br />
<h2>Toto</h2>
<br />
<h2>@ViewBag.Title</h2>
<br />
@ViewBag.Setup
<br />


@titi
<br />


<a href="@Url.Action("Index","Client")">index</a>